/* ==================================================================
  CSS Boilerplate
  The Unlicense <https://unlicense.org>
  https://github.com/MattMcAdams/CSS-Boilerplate
================================================================== */
/* =================================================================
/* SECTION Tokens
================================================================= */

:root {
  /* Spacing */
  --space_05: 0.25rem; /* 4px   - utility to substitute 0 margins */
  --space_1: 0.5rem;  /* 8px   - utility for tight paddings etc */
  --space_2: 1rem;    /* 16px  - 1/2 line height, for closely related elements */
  --space_4: 2rem;    /* 32px  - 1 line height, for related elements */
  --space_8: 4rem;    /* 64px  - 2 line heights, for loosely related elements */
  --space_16: 8rem;   /* 128px - 4 line heights, for unrelated elements */
  /* Semantic Space */
  --space_flow: var(--space_4);
  --space_gutter: var(--space_2);
  --space_section: var(--space_8);
  --space_grid-gap: var(--space_4);
  --space_flex-gap: var(--space_2);
  --space_layout-gap: var(--space_4);
  /* Layout Widths */
  --width_content: 60rem; /* 960px + gutters */
  --width_sidebar: 20rem; /* 320px + gutters */
  --width_wide: calc(
    var(--width_content) +
    var(--width_sidebar) +
    var(--space_layout-gap)
  );
  /* Total wide width: 60rem + 20rem + 2rem = 82rem */
  /* Colors */
  --color_text--default: #18181b;
  --color_text--subtle: #52525b;
  --color_text--link: #3b82f6;
  --color_text--link-alt: #2563eb;
  --color_text--accent: var(--color_text--link);
  --color_background--surface: white;
  --color_background--element: #f4f4f5;
  --color_background--chip: #e4e4e7;
  --color_accent: var(--color_text--link);
  /* Font Families */
  --font_body: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  --font_head: inherit;
  --font_mono: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  /* Font Weights */
  --font_weight--thin: 100;
  --font_weight--extralight: 200;
  --font_weight--light: 300;
  --font_weight--normal: 400;
  --font_weight--medium: 500;
  --font_weight--semibold: 600;
  --font_weight--bold: 700;
  --font_weight--extrabold: 800;
  --font_weight--black: 900;
  /* Font Sizes & Line Heights */
  --font_size--xsmall: 0.75rem;     /* 12px */
  --font_height--xsmall: 1rem;      /* 16px */
  --font_size--small: 1rem;         /* 16px */
  --font_height--small: 1.5rem;     /* 24px */
  --font_size--normal: 1.25rem;     /* 20px */
  --font_height--normal: 1.75rem;   /* 28px */
  --font_size--medium: 1.5rem;      /* 24px */
  --font_height--medium: 2rem;      /* 32px */
  --font_size--large: 1.75rem;      /* 28px */
  --font_height--large: 2.25rem;    /* 36px */
  --font_size--xlarge: 2rem;        /* 32px */
  --font_height--xlarge: 2.5rem;    /* 40px */
  --font_size--xxlarge: 2.5rem;     /* 40px */
  --font_height--xxlarge: 2.5rem;   /* 40px */
}

@media (min-width: 30rem) {
  :root {
    --font_size--large: 2rem;       /* 32px */
    --font_height--large: 2.5rem;   /* 40px */
    --font_size--xlarge: 2.5rem;    /* 40px */
    --font_height--xlarge: 3rem;    /* 48px */
    --font_size--xxlarge: 3rem;     /* 48px */
    --font_height--xxlarge: 3rem;   /* 48px */
  }
}

@media (min-width: 60rem) {
  :root {
    /* --space_section: var(--space_16); */
    --font_size--large: 2.25rem;    /* 36px */
    --font_height--large: 2.75rem;  /* 44px */
    --font_size--xlarge: 3rem;      /* 48px */
    --font_height--xlarge: 3.5rem;  /* 56px */
    --font_size--xxlarge: 4.5rem;   /* 72px */
    --font_height--xxlarge: 4.5rem; /* 72px */
  }
}

/* !SECTION Tokens 2.0 */
