/* REVIEW the value of these utility classes. Are they really needed? */
/* Clearfix if you still need that sort of thing */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Utility to make any element cover the area of it's parent.
 * You will have to give the parent { position: relative; } though */

.cover {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  object-fit: cover;
}

/* Center utility */

.center {
  display: grid;
  place-items: center;
}
