/* Clearfix if you still need that sort of thing */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Utility to make any element cover the area of it's parent.
 * You will have to give the parent { position: relative; } though */

.cover {
  position: absolute;
  inset: 0;
  object-fit: cover;
}

/* Center utility */

.center {
  display: grid;
  place-items: center;
}
